In [72]:
import pandas as pd
import os
import sys
import datetime as dt
import csv
import math
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sns
import matplotlib.dates as mdates

In [73]:
past = pd.read_csv("stats-downscaling-2.csv")
future = pd.read_csv("stats-downscaling-1.csv")

In [74]:
future.columns

Index(['yr', 'mon', 'day', 'z500', 'dZ500/dx', 'dZ500/dy', 'MIN_DISTANCE',
       'ROW_NUMBER', 'ADDRESS', 'BEST ANALOG'],
      dtype='object')

In [79]:
for i in future.index:
    distances = []
    mydict = {}
    for j in past.index:
        xdist = (past.at[j,"dZ500/dx"]-future.at[i,"dZ500/dx"])*(past.at[j,"dZ500/dx"]-future.at[i,"dZ500/dx"])
        ydist = (past.at[j,"dZ500/dy"]-future.at[i,"dZ500/dy"])*(past.at[j,"dZ500/dy"]-future.at[i,"dZ500/dy"])
        zdist = (past.at[j,"Z500"]-future.at[i,"z500"])*(past.at[j,"Z500"]-future.at[i,"z500"])
        distance = ydist + xdist + zdist
        distance = (math.sqrt(distance))
        distance = round(distance,4)
        distances.append(distance)
        mydict[distance] = j
    mymin = min(distances)
    mymin_index = mydict[mymin]
    mymin_rain = past.at[mymin_index,"PREC [mm]"]
    future.at[i,"MIN_DISTANCE"] = mymin
    future.at[i,"ROW_NUMBER"] = mymin_index

In [80]:
future.head()

,yr,mon,day,z500,dZ500/dx,dZ500/dy,MIN_DISTANCE,ROW_NUMBER,ADDRESS,BEST ANALOG
0,2051,3,1,0.257420,-0.071264,1.589209,0.2339,280.0,NaN,NaN
1,2051,3,2,0.257420,-0.246302,0.953199,0.2257,37.0,NaN,NaN
2,2051,3,3,0.046247,-0.158783,-0.043887,0.1711,366.0,NaN,NaN
3,2051,3,4,-0.212409,-0.158783,-0.931569,0.2764,74.0,NaN,NaN
4,2051,3,5,-0.847178,-0.854326,-1.493280,0.2391,307.0,NaN,NaN

In [78]:
past.head()

       YR  MON  DAY  PREC [mm]  Z500  dZ500/dx  dZ500/dy
0  2011.0  4.0  1.0        0.0  0.47      0.44     -0.53
1  2011.0  4.0  2.0        0.0  0.42      0.53      0.64
2  2011.0  4.0  3.0        0.0  0.42      0.53      1.47
3  2011.0  4.0  4.0        0.0 -0.31     -0.85      1.56
4  2011.0  4.0  5.0        0.0 -0.49     -0.33      0.06